
.bg-img {

  background-image: url("https://images.pexels.com/photos/5439/earth-space.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

  min-height: 380px;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  position: relative;
}


.container {
  position: absolute;
  margin: 0;
  width: 100%;
}


.topnav {
 overflow: hidden;
  background-color: #333;
  opacity: 0.9;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
}
p{
font-size: 1em;
padding: 0px;
color: white;
padding-top: 1em;
}

#img {
width: 100%;
height: 19em;
object-fit: cover;
position: relative;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: black;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .flex-item {
    background: black;
    padding: 1%;
    width: 21%;
    height: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
    transition: 0,3s;
    transition-property: all
    line-height: 25%;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  .flex-item:hover{
    transition: 0,5s ease;
    width: 25%;
  }
body{
  background-color: black
}