h1{
  border-color: white;
  border-width: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
  background: white;
}

.header{
  margin: 0px;
  height: 15vh;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.header ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  width: 100vw;
  padding: 0px;
  background-color: #000000;
}
.header li{
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 2%;
  padding-right: 2%;
  min-width: 7%;
  margin: 0px;
}

.other{
  color: #ffffff;
  background-color: black;
}

.current, .other:hover{
  color: #000000;
  background-color:rgb(112,111,176);
}



p{
  font-size: 1em;
  padding: 0px;
  color: white;
  padding-top: 1em;
}

#img {
  width: 100%;
  height: 19em;
  object-fit: cover;
  position: relative;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}
  
.flex-item {
  background: black;
  padding: 4%;
  width: 21%;
  height: 25%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 1%;
  margin-left: 1%;
  line-height: 20%;
  color: black;
  font-size: 3em;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #000000;
}

body{
  background-color:white;
}

h1{
  color: black;
  text-align: center;
  position: top;
}

a{
  color:white;
  text-decoration: none;
}
.transition{
  color: white;
  text-decoration: none;
  transition: 0s all;
}

.transition:hover{
  text-decoration: none;
  color:rgb(112,111,176);
  font-size: 10vh;
}

.imgwidth{
  width: 100%;
  box-shadow: 3px 3px 5px #000000;
  
}